Source: rpcmq
Section: misc
Priority: extra
Maintainer: Debian package builder <debbuild@onebigplanet.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: rpcmq-server
Architecture: any
Depends: python-pika(>=0.9.5), python, sudo
Description: Server consuming RPC call via AMQP protocol.

Package: rpcmq-client
Architecture: any
Depends: python-pika(>=0.9.5), python, sudo
Description: Client producing RPC call via AMQP protocol.
